# Windows image file caches
Thumbs.db
ehthumbs.db

*.pydevproject
.project
.metadata
.idea
/wp-admin
/wp-includes
/wp-content/uploads
/wp-content/languages
/wp-content/plugins
/wp-content/themes/twentyeleven
/wp-content/themes/twentyten
/*.php
/*.txt
/*.gitignore
/*.htaccess
/*.gitattributes
/wp-content/*.php

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
